<div class="row">
  <div class="col-xs-12">
    <ul class="lang-menu">
      {% for language in languages %}
        {% if language.id == current_language.id %}
          <li class="active">{{ language.title }}</li>
        {% else %}
          <li><a href="{{ build_url(language_link_pattern, array_merge(language_link_options, {'language_slug': language.slug})) }}">{{ language.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
