{% if view_video_comment %}
    <div class="col-xs-12 col-sm-6">
        {% for comment in left_comments %}
            {#{% set k = loop.index is odd %}#}
            {% if comment.is_view_video %}
                <div class="review-item review-video adult">
                    <div class="video-overlay" style="
                            background-image: url({{ comment.img.path }});
                            ">
                        <div class="video-filter"></div>
                        <div class="video-button"
                             data-toggle="modal"
                             data-target="#videoModal"
                             data-src="https://www.youtube.com/embed/jyBefGJZ8uQ"></div>
                    </div>
                    <div class="review-wrapper">
                        <div class="review-title">
                            {{ comment.fio }}
                        </div>
                        <div class="review-role">
                            {{ comment.description |raw}}
                        </div>
                        <div class="review-text">
                            {{ comment.text |raw}}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="review-item kid">
                    <div class="review-header">
                        <div class="review-photo" style="
                                background-image: url({{ comment.img.path }});
                                "></div>
                        <div class="review-title">
                            {{ comment.fio }}
                        </div>
                        <div class="review-role">
                            {{ comment.description |raw}}
                        </div>
                    </div>
                    <div class="review-text">
                        {{ comment.text |raw}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="col-xs-12 col-sm-6">
        {% for comment in right_comments %}
            {#{% set k = loop.index is even %}#}
            {%  if comment.is_view_video %}
                <div class="review-item review-video adult">
                    <div class="video-overlay" style="
                            background-image: url({{ comment.img.path }});
                            ">
                        <div class="video-filter"></div>
                        <div class="video-button"
                             data-toggle="modal"
                             data-target="#videoModal"
                             data-src="https://www.youtube.com/embed/jyBefGJZ8uQ"></div>
                    </div>
                    <div class="review-wrapper">
                        <div class="review-title">
                            {{ comment.fio }}
                        </div>
                        <div class="review-role">
                            {{ comment.description |raw}}
                        </div>
                        <div class="review-text">
                            {{ comment.text |raw}}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="review-item kid">
                    <div class="review-header">
                        <div class="review-photo" style="
                                background-image: url({{ comment.img.path }});
                                "></div>
                        <div class="review-title">
                            {{ comment.fio }}
                        </div>
                        <div class="review-role">
                            {{ comment.description |raw}}
                        </div>
                    </div>
                    <div class="review-text">
                        {{ comment.text |raw}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% else %}
    <div class="col-xs-12 col-sm-6">
        {% for comment in left_comments %}

            <div class="review-item kid">
                <div class="review-header">
                    <div class="review-photo" style="
                            background-image: url({{ comment.img.path }});
                            "></div>
                    <div class="review-title">
                        {{ comment.fio }}
                    </div>
                    <div class="review-role">
                        {{ comment.description |raw}}
                    </div>
                </div>
                <div class="review-text">
                    {{ comment.text |raw}}
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6">
        {% for comment in right_comments %}

            <div class="review-item kid">
                <div class="review-header">
                    <div class="review-photo" style="
                            background-image: url({{ comment.img.path }});
                            "></div>
                    <div class="review-title">
                        {{ comment.fio }}
                    </div>
                    <div class="review-role">
                        {{ comment.description |raw}}
                    </div>
                </div>
                <div class="review-text">
                    {{ comment.text |raw}}
                </div>
            </div>

        {% endfor %}
    </div>
{% endif %}
