
<div class="reviews has-shadow">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Отзывы</h2>
                <p class="block-teaser">
                    Мы знаем, что когда вы выбираете курсы английского для себя и своих детей, очень важно выбрать лучшую
                    компанию. Наши клиенты рассказывают о нас своим друзьям и более 30% наших слушателей пришли по
                    рекомендации знакомых, друзей, старших братьев и сестер. Делимся с вами тем, что говорят о Талисмане
                    наши студенты и их родители.
                </p>
            </div>
            <div class="col-xs-12">
                {% partial __SELF__~"::filter" %}
            </div>

            <div id="comments_cont">
                {% partial __SELF__~"::comments" %}
            </div>
        </div>
    </div>
</div>