<div class="reviews-filter role-filter">
    {% for filter in filters %}
    <a class="filter-item" data-request="onFilterComments" data-request-data="type: '{{ filter.slug }}'">
        <div class="counter"></div>
        {{ filter.title }}
    </a>

    {% endfor %}
    <a class="filter-item" data-request="onFilterComments" data-request-data="type: 'all'">
        Все отзывы
    </a>
</div>