<div class="advantage">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Почему Талисман</h2>
            </div>
            <div class="
            col-xs-12
            col-md-8
            col-video">
                <div class="advantage-video">
                    <div class="video-overlay">
                        <div class="video-filter"></div>
                        <div
                                class="video-button"
                                data-toggle="modal"
                                data-target="#videoModal"
                                data-src="https://www.youtube.com/embed/jyBefGJZ8uQ"
                                ></div>
                    </div>
                </div>
            </div>
            <div class="
            hidden-xs
            col-sm-4 col-sm-push-8
            col-md-push-0
            ">
                <div class="banner banner-big">
                    <div class="advantage-item">
                        <div class="advantage-title">
                            25 лет
                        </div>
                        <div class="advantage-text">
                            обучаем языкам
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-title">
                            112 000
                        </div>
                        <div class="advantage-text">
                            студентов прошли обучение
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-title">
                            2 353
                        </div>
                        <div class="advantage-text">
                            студентов сдали кембриджский экзамен
                        </div>
                    </div>
                </div>
            </div>
            <div class="
            col-xs-12
            col-sm-8 col-sm-pull-4
            col-md-12 col-md-pull-0
            ">
                <div class="row">
                    <div class="
                col-xs-12
                col-sm-push-0
                col-md-6 col-md-push-6
                ">
                        <div class="banner banner-method">
                            <div class="advantage-item">
                                <div class="advantage-title">
                                    Эффективные<br>
                                    методики обучения
                                </div>
                                <div class="advantage-text">
                                    Тщательно формируют обучаемую среду,
                                    используем современные технологии,
                                    работаем только с опытными
                                    преподавателями.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="
                col-xs-12
                col-sm-pull-0
                col-md-6 col-md-pull-6
                ">
                        <div class="banner banner-filial">
                            <div class="advantage-item">
                                <div class="advantage-title">
                                    25 филиалов <br>
                                    в крупных городах
                                </div>
                                <div class="advantage-text">
                                    Удобно детям и взрослым
                                </div>
                            </div>
                            <div class="filial-links">
                                {% for city in cities %}
                                    <a href="#">{{ city.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>