<div class="testbar reciever">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="monster">
                    <img src="{{ 'assets/images/denis.png'|theme }}">
                </div>
            </div>
            <div class="col-sm-7 col-xs-12">
                <div class="testbar-text">
                    Бесплатно пройдите тест на знание языка в нашем центре, и мы подберем подходящую вам программу.
                </div>
                <a class="btn btn-default btn-circle" href="#" data-toggle="modal" data-target="#testModal2">
                    Записаться на тест
                </a>
            </div>
        </div>
    </div>
</div>