<div class="request">
    <div class="container">
        <div class="row">
            <div class="
            col-xs-12
            col-md-6 pull-right-md
            pull-right-lg
            ">
                <h2>
                    Бесплатно пройдите тест на знание языка в нашем центре
                </h2>
                <p>
                    По результатам теста мы выявим вам уровень, обсудим сильные и слабые стороны, подберем
                    подходящие курс и группу. Так вы сможете принять обоснованное решение о необходимости
                    изучения иностранного языка.
                </p>
                <a class="collapser-xs collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#testVideo" aria-expanded="false" aria-controls="collapseExample">
                    Как проходит тестирование
                </a>
            </div>
            <div class="
            col-xs-12 col-xs-push-0
            col-sm-6 col-sm-push-6
            col-md-push-0
            ">
                <div class="request-video collapse-xs collapse" id="testVideo">
                    <div class="video-overlay">
                        <div class="video-filter"></div>
                        <div
                                class="video-button"
                                data-toggle="modal"
                                data-target="#videoModal"
                                data-src="https://www.youtube.com/embed/jyBefGJZ8uQ"
                                ></div>
                        <div class="video-title">
                            Как проходит тестирование
                        </div>
                    </div>
                </div>
            </div>
            <div class="
            col-xs-12 col-xs-pull-0
            col-sm-6 col-sm-pull-6
            col-md-pull-0  pull-right-md
            pull-right-lg">
                <form class="form-group">
                    <input class="form-control" type="text" name placeholder="Имя">
                    <input class="form-control" type="text" name placeholder="Телефон">
                    <input class="form-control" type="email" name placeholder="Адрес e-mail">
                    <button class="form-control btn btn-primary btn-circle btn-lg">
                        Отправить заявку<span class="hidden-xs hidden-sm"> на тестирование</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>