<div class="request-white">
    <div class="row">
        <div class="col-xs-12">
            <p class="block-teaser">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <p class="block-teaser">
                Бесплатно пройдите тест на знание языка в нашем центре и мы подберем подходящую вам программу.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <button class="form-control btn btn-lg btn-primary btn-circle">Записаться на тест</button>
        </div>
    </div>
</div>