<div class="teachers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Больше чем преподаватели</h2>
                <p class="block-teaser">
                    Успех в обучении во многом зависит от личности преподавателя. Наши учителя не просто знают
                    свой предмет, но и владеют технологиями передачи знаний, имеют педагогическое образование. Детей учат только те преподаватели, которые обучены работе с детьми.
                </p>
                <a class="teachers-about" href="#">О методиках обучения</a>
            </div>
            <div class="col-xs-12">
                <div class="teachers-slider" id="slickTeachers">
                    {% for teacher in teachers %}
                        {% if loop.index % 4 != 0 %}
                        <div class="teachers-item nth-{{ loop.index % 4 }}">
                        {% else %}
                        <div class="teachers-item nth-4">
                        {% endif %}
                            <div class="teachers-photo">
                                <img src="{{ teacher.img.path }}">
                            </div>
                            <a class="teachers-info" href="#">
                                <div class="teachers-name">
                                    {{ teacher.fio }}

                                    {#{% for curriculum in teacher.curriculums %}#}
                                        {#{{ curriculum.id }}#}
                                    {#{% endfor %}#}
                                </div>
                                <div class="teachers-role">
                                    {{ teacher.description|raw }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>